<div class="rewrite-new container">

  <% provide(:title, "Write on, writer") %>

  <%= form_for @rewrite, html: { class: "rewrite-form" } do |f| %>

    <%= f.text_field :title, placeholder: "Title" %>

    <%= f.text_area :content_before_snippet, placeholder: "Write something before the snippet" %>

    <%= simple_format @snippet.content, class: "snippet" %>
    <%= f.hidden_field :snippet_id, value: @snippet.id %>

    <%= f.text_area :content_after_snippet, placeholder: "Write something after the snippet" %>

    <div class="anonymous-toggle">
      <%= f.radio_button :anonymous, true, checked: true %>
      <%= f.label :anonymous, "written anonymously", value: true %>
      <%= f.radio_button :anonymous, false %>
      <%= f.label :anonymous, "written by #{current_user.name}", value: false %>
    </div>

    <%= f.label :tags %>
    <%= f.text_area :tag_list, placeholder: "sci-fi, romance, comedy, horror, first-person", class: "add-tags" %>

    <%= f.button "publish", class: "btn btn-primary" %>
  <% end %>

</div>
