<div class="user-info">
  <h2><%= @snippet.user.name %>
</div>

<div class="snippet">
  <p><%= @snippet.content %></p>
  <p>via <%= @snippet.source %> <small><%= time_ago_in_words(@snippet.created_at) %> ago</small></p>
</div>

<div>
  <%= link_to "delete", @snippet, method: :delete, data: { confirm: "Are you sure?" } %>
  <%= link_to "rewrite", new_rewrite_path(snippet: @snippet.id) %>
</div>
