<div class="snippet-single">
  <small class="timestamp"><%= time_ago_in_words(@snippet.created_at) %> ago</small>
  <p><%= link_to @snippet.user.name, @snippet.user, class: "username" %> added</p>

  <div class="snippet">
    <%= simple_format @snippet.content %>
    <p class="snippet-meta">via <%= link_to parse_source_url(@snippet.source), @snippet.source %></p>
  </div>

  <div>
    <%= link_to "rewrite", new_rewrite_path(snippet: @snippet.id), class: "btn btn-primary" %>
    <%= link_to "delete", @snippet, method: :delete, data: { confirm: "Are you sure?" } %>
  </div>
</div>
