<% provide(:title, @user.name) %>

<div class="user-info">
  <h2><%= @user.name %></h2>
  <%= render 'shared/stats' %>
  <%= render 'follow_form' if signed_in? %>
</div>

<div class="main-col">

  <% if !@feed_items.empty? %>
    <h3>Activity</h3>

    <%= will_paginate @feed_items %>

    <ol class="feed">
      <%= render_activity @feed_items %>
    </ol>

    <%= will_paginate @feed_items %>

  <% else %>
    <% if @user == current_user %>
      <p>You don't have any activity yet. Why not <%= link_to "enjoy a rewrite", rewrite_path(rand(Rewrite.count)) %>, <%= link_to "add a snippet", new_snippet_path %>, or <%= link_to "rewrite something of your own", snippets_path(rand(Snippet.count)) %>?</p>
    <% else %>
      <p><%= @user.name %> doesn't have any activity yet. Bummer.</p>
    <% end %>
  <% end %>

</div>
