<li id="<%= feed_item.id %>">
  <p><%= link_to feed_item.content, feed_item %></p>
  <p>via <%= link_to feed_item.source, feed_item.source %> <small><%= time_ago_in_words(feed_item.created_at) %> ago</small></p>
  <p><%= link_to "delete", feed_item, method: :delete, data: { confirm: "Are you sure?" }, title: feed_item.content %></p>
</li>
