<li class="feed-item feed-item-snippet--create" id=<%= "#{activity.trackable_type[0].downcase}-#{activity.trackable_id}" %>>

  <small class="feed-item-snippet-timestamp"><%= time_ago_in_words(activity.created_at) %> ago</small>
  <p><%= link_to User.find(activity.owner_id).name, User.find(activity.owner_id), class: "feed-item-snippet-username" %> added a snippet</p>
  <div class="feed-item-snippet-content">
    <a href="<%= snippet_path(activity.trackable_id) %>">
      <%= simple_format activity.parameters[:snippet_content] %>
    </a>
  </div>

</li>
